.starting {
  margin: 3rem auto;
  text-align: center;
}

.starting h1 {
  font-size: 5rem;
  color: #fff;
}

@media screen and (max-width: 375px) {
  .starting {
    margin-left: 1rem;
  }
  .starting h1 {
    font-size: 4rem;
  }
}
