.heroes__home-display {
  width: 100%;
  display: inline-block;
}
.heroes__team-display {
  width: 70%;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding-bottom: 20px;
}
.heroes__team-card {
  background-color: #fff;
}

.heroes__team-image {
  width: 100%;
}

.stats {
  color: #000;
}

.team,
.heroes__home-display {
  font-family: var(--font-family);
}

.team {
  color: white;
  text-align: center;
  font-size: xx-large;
}
.heroes__result-button {
  display: flex;
}

.heroes__result-remove,
.heroes__result-details {
  width: 100%;
  padding: 0.5rem 1rem;
  color: #fff;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
}

.heroes__result-details {
  background: chocolate;
}
.heroes__result-remove {
  background: rgb(13, 50, 153);
}

/*MEDIA QUERIES*/
@media screen and (min-width: 768px) {
  .heroes__home-display {
    display: flex;
    flex-wrap: wrap;
  }

  .heroes__team-display {
    text-align: center;
    padding: 20px;
    width: 70%;
    margin: 0px;
    padding: 0px;
  }

  .heroes__team-card {
    width: 300px;
  }

  .name,
  .team {
    text-align: center;
  }
  .heroes__result-button {
    display: block;
  }
}
