.heroes__home-stats_container {
  display: inline-block;
  margin-left: 50px;
}

.heroes__home-stats_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;

  font-family: var(--font-family);
  color: #ff8a71;
  border: 2px solid rgb(119, 213, 245);
}

.grid-box {
  border-right: 2px solid lightblue;
  padding: 5px;
}

.heroes__home-stats_avg {
  padding-top: 20px;
  color: white;
  text-transform: uppercase;
  font-size: larger;
}

.team,
.heroes__home-display {
  font-family: var(--font-family);
}

.team {
  color: white;
  text-align: center;
  font-size: xx-large;
}
/*MEDIA QUERIES*/
@media screen and (min-width: 768px) {
  .name,
  .team {
    text-align: center;
  }
  .heroes__home-stats_container {
    margin-right: 10px;
  }
  .heroes__home-stats_grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 0.5rem;
    text-align: center;
    font-family: var(--font-family);
    color: #ff8a71;
  }
}
@media screen and (min-width: 1024px) {
  .heroes__home-stats_container {
    margin-left: 150px;
  }
}
