.heroes__details-container {
  width: 100%;
  background: #041c32;
  text-align: center;
  font-family: var(--font-family);
  color: #d4943a;
  font-size: x-large;
  text-transform: uppercase;
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.heroes__details-img img {
  width: 100%;
}

span {
  font-weight: bold;
}

.heroes__details-button {
  padding: 0.5rem 1rem;
  color: #fff;
  background: #ff4820;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
  width: 100%;
}

/* MEDIA QUERIES */
@media screen and (min-width: 768px) {
  .heroes__details-img {
    margin-left: 25%;
  }
}
@media screen and (min-width: 1024px) {
  .heroes__details-container {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    margin: 0;
  }
  .heroes__details-button {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    align-self: start;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-left: 5px;
  }

  .heroes__details-arrow {
    margin-top: 5px;
  }

  .heroes__details-bio {
    margin-left: 100px;
  }
}
